<!-- 	<input type="text" placeholder="Search..." id="Search" class="ms-rounded">-->
<div class="row">
	<h2>Get started</h2>
	<ul class="ms-list ms-list-none">
		<li><a href="/doc"><%=translation.HOME_START%></a></li>
		<li><a href="/doc/grid-responsive"><%=translation.RESPONSIVE%></a></li>
	</ul>
</div>

<div class="row">
	<h2>Font</h2>
	<ul class="ms-list ms-list-none">
		<li><a href="/doc/google-font">Google Font</a></li>
		<li><a href="/doc/typographie"><%=translation.TYPOGRAPHY%></a></li>
		<li><a href="/doc/heading"><%=translation.HEADING%></a></li>
	</ul>
</div>

<div class="row">
	<h2>CSS Components</h2>
	<ul class="ms-list ms-list-none">
		<li><a href="/doc/buttons"><i class="fas fa-mouse-pointer"></i> <%=translation.BUTTONS%></a></li>
		<li><a href="/doc/blockquotes"><i class="fas fa-quote-right"></i> <%=translation.BLOCKQUOTE%></a></li>
		<li><a href="/doc/tables"><i class="fas fa-table"></i> <%=translation.TABLE%></a></li>
		<li><a href="/doc/alerts"><i class="fas fa-exclamation-triangle"></i> <%=translation.ALERTS%></a></li>
		<li><a href="/doc/lists"><i class="fas fa-list-ul"></i> <%=translation.LIST%></a></li>
		<li><a href="/doc/forms"><i class="fab fa-wpforms"></i> <%=translation.FORM%></a></li>
		<li><a href="/doc/badges"><i class="fas fa-certificate"></i> <%=translation.BADGE%></a></li>
		<li><a href="/doc/progress-bar"><i class="fas fa-spinner"></i> <%=translation.PROGRESS_BAR%></a></li>
	</ul>
</div>

<div class="row">
	<h2>CSS Elements</h2>
	<ul class="ms-list ms-list-none">
		<li><a href="/doc/cards"><i class="fas fa-th-large"></i> <%=translation.CARD%></a></li>
		<li><a href="/doc/menu"><i class="fas fa-bars"></i> <%=translation.MENU%></a></li>
		<li><a href="/doc/box"><i class="far fa-square"></i> <%=translation.BOX%></a></li>
	</ul>
</div>