<!DOCTYPE html>
<html lang="<%=translation.LANG%>">
<head>
	<meta charset="UTF-8">
	<title>Documentation | minstyle.io</title>
	<meta name="description" content="<%=translation.DOC_META%>">
	<meta name="keywords" content="framework, css, minstyle, minstyle.io, sass, scss, design, website, mobile, tablet, webdesign, documentation, doc" />

	<meta name="viewport" content="width=device-width, user-scalable=no">
	<link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,800,900" rel="stylesheet">
	<%- include('elements/msLink'); %>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="css/doc.css">
	<link rel="stylesheet" type="text/css" href="css/prism.css">

	<%- include('elements/ga'); %>
</head>
<body>

	<header class="header">
		<%- include('elements/menu'); %>
	</header>

	<div id="resp-menu">
		<%- include('elements/left-menu'); %>
	</div>
	
	<div class="box" style="max-width: 1400px;">
		<div class="row">
			<div class="col-s-3 left-menu">
      			<%- include('elements/left-menu'); %>
			</div>

			<a id="doc-menu">
				<i class="fas fa-bars"></i>
			</a>

			<div class="col-s-12 col-m-9 content">
				<div class="row">
					<span class="ms-badge ms-white"><i class="fas fa-graduation-cap"></i> Doc</span>
					<span class="ms-badge ms-yellow"><h1><%=translation.HOME_START%></h1></span>
				</div>

				<div class="row">
					<p>
						<%=translation.DOC_STARTED1%>
					</p>
				</div>

				<div class="row">
					<p>
						<%=translation.DOC_STARTED2%>
					</p>
					<button class="ms-btn">Button</button><br/>
					<button class="ms-btn ms-green">Button</button><br/>
					<button class="ms-btn ms-green ms-rounded">Button</button>

					<div class="col-s-12">
<pre><code class="language-html"><button class="ms-btn">Button</button>
<button class="ms-btn ms-green">Button</button>
<button class="ms-btn ms-green ms-rounded">Button</button></code></pre>
					</div>
				</div>

				<div class="row">
					<h2>
						<%=translation.DOC_STARTED_TITLE_INSTALL%>
					</h2>
					<p>
						<%=translation.DOC_STARTED_INSTALL_DESC%>
					</p>
				</div>

				<div class="row">
					<h2><%=translation.DOC_STARTED_TITLE_DOWNLOAD%></h2>
					<a href="https://github.com/Airmime/minstyle.io" target="_blank" class="ms-btn ms-yellow ms-large"><%=translation.DOC_STARTED_TITLE_DOWNLOAD%></a>
				</div>

				<div class="row">
					<h2><%=translation.DOC_STARTED_TITLE_CDN%></h2>
					<p>
						<%=translation.HOME_START_LINK%>
					</p>
					<div class="col-s-12">
<pre><code class="language-html"><%- include('elements/msLink'); %>
</code></pre>
					</div>
				</div>

				<div class="row">
					<h2><%=translation.DOC_STARTED_TITLE_NPM%></h2>

					<blockquote class="ms-blockquote ms-blue">
						<em><code>npm install minstyle.io</code></em>
					</blockquote>
				</div>

			</div>
		</div>
	</div>	

	<div class="container">
		<%- include('elements/footer'); %>
	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="js/prism.js"></script>
	<script type="text/javascript">
		$('code').each(function(){
		var el = $(this);
		el.text(el.html());
		});
	</script>
	<script src="/js/menu.js"></script>

</body>
</html>
