<!DOCTYPE html>
<html lang="<%=translation.LANG%>">
<head>
	<meta charset="UTF-8">
	<title><%=translation.HOME_META_TITLE%></title>
	<meta name="description" content="<%=translation.WELCOME_MSG%>">
	<meta name="keywords" content="framework, css, minstyle, minstyle.io, sass, scss, design, website, mobile, tablet, webdesign" />

	<meta name="viewport" content="width=device-width, user-scalable=no">
	<link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,800,900" rel="stylesheet">
	<%- include('elements/msLink'); %>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/prism.css">

	<meta name="google-site-verification" content="VlJEayv5CJgjV40Gt3zzbTDq4MyIQ7Eg26pUe0_OG0g" />

	<%- include('elements/ga'); %>
</head>
<body>
	<div class="background"></div>

	<header class="header">

		<%- include('elements/menu'); %>

		<div class="container">
			<div class="row intro" style="margin-top: 60px;">

				<div class="col-s-12 col-m-3 img-code">
					<img src="img/code.png" alt="Code">
				</div>

				<div class="col-s-12 col-m-9">
					<div class="ms-box ms-boxed-none">
						<div class="ms-content">
							<div class="ms-title ms-text-white">
								<h1 class="ms-text-size-3"><span class="ms-fw-800" style="color: #263238;">minstyle.io</span> {css} .framework</h1>
							</div>
							<div class="ms-text">
								<p class="ms-text-white">
									<%=translation.WELCOME_MSG%>
								</p>
							</div>
						</div>
					</div>

					<div class="actions">
						<a href="https://github.com/Airmime/minstyle.io" target="_blank" class="ms-btn ms-rounded ms-yellow ms-large"><span class="ms-fw-700"><%=translation.HOME_DOWNLOAD%></span></a>

						<a href="/doc" class="ms-btn ms-rounded ms-large mresp" style="background-color: #263238; border:none; color: #fff;"><span class="ms-fw-600"><%=translation.HOME_START%></span></a>
					</div>
				</div>
			</div>

			<div class="row img-sublime">
				<div class="col-s-12">
					<div class="sublime">
						<div class="sublime-header">
							<ul>
								<li><span class="round" style="background-color: #ff5f5c;"> </span></li>
								<li><span class="round" style="background-color: #ffbc4d;"> </span></li>
								<li><span class="round" style="background-color: #00ca57;"> </span></li>
							</ul>
						</div>

						<div class="col-s-2 files">
							<ul>
								<li><i class="fab fa-html5" style="color: #dd6022;"></i> index.html</li>
								<li><i class="fab fa-css3-alt" style="color: #287b9f;"></i> minstyle.io.css</li>
							</ul>
						</div>

						<div class="col-s-10">
							<img src="img/coding.gif" alt="Coding" class="coding" loop=infinite>
						</div>
					</div>
				</div>
			</div>
		</div>

	</header>

	<div class="container">
		<div class="started">
			<div class="row">
				<div class="ms-box ms-boxed-none">
					<div class="ms-content">
						<div class="ms-title">
							<h2 class="ms-text-size-2 ms-text-center"><span class="ms-fw-600" style="color: #263238;"><%=translation.HOME_START%></span></h2>
						</div>
						<div class="ms-text">
							<p class="ms-text-center">
								<%=translation.HOME_START_LINK%>
							</p>
						</div>
					</div>

					<div class="download col-s-10 col-s-center">
						<pre>
<code class="language-html"><%- include('elements/msLink'); %>
</code></pre>
					</div>
				</div>


				<div class="ms-box ms-boxed-none">
					<div class="ms-content">
						<div class="ms-title">
							<h3 class="ms-text-center"><span class="ms-fw-600" style="color: #263238; font-size: 1.4rem;">Nodejs NPM</span></h3>
						</div>
						<div class="ms-text">
							<p class="ms-text-center">
								<%=translation.HOME_START_NPM%>
							</p>
						</div>
					</div>

					<div class="npm">
						<div class="icon">
							<i class="fas fa-terminal"></i>
						</div>
						<div class="command">
							<p>
								npm install minstyle.io
							</p>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="doc ms-text-center">
					<p>
						<a href="/doc" class="ms-btn ms-border ms-yellow ms-large"><i class="fas fa-graduation-cap ms-text-yellow"></i> Documentation</a><br/>
						<a href="https://github.com/Airmime/minstyle.io" target="_blank" class="ms-text-gray-font" style="text-decoration: none; display: block;padding-top: 5px;">Contribute on GitHub</a>
					</p>
				</div>
			</div>
		</div>
	</div>

	
	<div class="container">
		<%- include('elements/footer'); %>
	</div>
	
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="/js/prism.js"></script>
	<script type="text/javascript">
		$('code').each(function(){
		var el = $(this);
		el.text(el.html());
		});
	</script>
	<script src="/js/menu.js"></script>

</body>
</html>
