<!DOCTYPE html>
<html lang="<%=translation.LANG%>">
<head>
	<meta charset="UTF-8">
	<title>Documentation | minstyle.io</title>
	<meta name="description" content="<%=translation.DOC_META%>">
	<meta name="keywords" content="framework, css, minstyle, minstyle.io, sass, scss, design, website, mobile, tablet, webdesign, documentation, doc" />

	<meta name="viewport" content="width=device-width, user-scalable=no">
	<link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,800,900" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/Airmime/minstyle.io/d2280724/css/minstyle.io.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="css/themes.css">
	<link rel="stylesheet" type="text/css" href="css/prism.css">

	<%- include('elements/ga'); %>
</head>
<body>

	<header class="header">
		<%- include('elements/menu'); %>
	</header>

	<div class="container">
		<%- include('elements/footer'); %>
	</div>
</body>
</html>
