<!DOCTYPE html>
<html lang="<%=translation.LANG%>">
<head>
	<meta charset="UTF-8">
	<title>Documentation | minstyle.io</title>
	<meta name="description" content="<%=translation.DOC_META%>">
	<meta name="keywords" content="framework, css, minstyle, minstyle.io, sass, scss, design, website, mobile, tablet, webdesign, documentation, doc" />

	<meta name="viewport" content="width=device-width, user-scalable=no">
	<link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,800,900" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/Airmime/minstyle.io/d2280724/css/minstyle.io.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="css/themes.css">
	<link rel="stylesheet" type="text/css" href="css/prism.css">

	<%- include('elements/ga'); %>
</head>
<body>

	<header class="header">
		<%- include('elements/menu'); %>
	</header>

	<div class="container">
		<div class="row">

			<div class="themes col-s-12">
				<div class="titletheme col-s-12">
					<div class="ms-card">
						<div class="ms-pic ms-rounded">
							<a href="">
								<img src="img/logo_dark.png" alt="Logo">
							</a>
						</div>

						<div class="ms-title ms-center">
							<h5 class="ms-fw-700">What i can do with minstyle.io ?</h5>
						</div>

						<div class="ms-text ms-center">
							<p class="ms-text-gray-font">
								Themes and websites build with minstyle.io.
							</p>
						</div>
					</div>
				</div>

				<div class="list col-s-12">
					<ul>
						<li>
							<div class="theme col-s-12 col-m-6">
								<div class="ms-card">
									<div class="ms-pic ms-rounded">
										<a href="">
											<img src="img/themes/tchat.png" alt="Tchat">
										</a>
									</div>

									<div class="ms-title">
										<h6>Web messenger module</h6>
									</div>

									<div class="ms-text">
										<p class="ms-text-gray-font">
											<i class="fab fa-app-store-ios"></i> Application
										</p>
									</div>

									<div class="ms-action ms-right">
										<a class="ms-btn ms-border-bottom ms-blue">Live preview</a>
										<a class="ms-btn ms-blue ms-rounded">Download</a>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<%- include('elements/footer'); %>
	</div>
</body>
</html>
