<!DOCTYPE html>
<html lang="<%=translation.LANG%>">
<head>
	<meta charset="UTF-8">
	<title><%=translation.THEMES%> | minstyle.io</title>
	<meta name="description" content="<%=translation.THEMES_META%>">
	<meta name="keywords" content="Themes, template, télécharger, framework, css, minstyle, minstyle.io, sass, scss, design, website, mobile, tablet, webdesign, documentation, doc" />

	<meta name="viewport" content="width=device-width, user-scalable=no">
	<link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,800,900" rel="stylesheet">
	<%- include('elements/msLink'); %>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="css/themes.css">

	<%- include('elements/ga'); %>
</head>
<body>

	<header class="header">
		<%- include('elements/menu'); %>
	</header>

	<div class="container">
		<div class="row">

			<!-- Themes -->
			<div class="themes col-s-12">
				<div class="titletheme col-s-12">
					<div class="ms-card">
						<div class="ms-pic ms-rounded">
							<a href="">
								<img src="img/logo_dark.png" alt="Logo">
							</a>
						</div>

						<div class="ms-title ms-center">
							<h5 class="ms-fw-700"><%=translation.THEMES_TITLE%></h5>
						</div>

						<div class="ms-text ms-center">
							<p class="ms-text-gray-font">
								<%=translation.THEMES_DESC%>
							</p>
						</div>
					</div>
				</div>

				<div class="list col-s-12">
					<ul>
						<li>
							<div class="theme col-s-12 col-m-6">
								<div class="ms-card">
									<div class="ms-pic ms-rounded">
										<a href="/themes/preview/web-messenger-module">
											<img src="img/themes/web-messenger-module.png" alt="Tchat">
										</a>
									</div>

									<div class="ms-title">
										<h6>Web messenger module</h6>
									</div>

									<div class="ms-text">
										<p class="ms-text-gray-font">
											<i class="fab fa-app-store-ios"></i> Application
										</p>
									</div>

									<div class="ms-action ms-right">
										<a href="/themes/preview/web-messenger-module" class="ms-btn ms-border-bottom ms-blue">Live preview</a>
										<a href="/examples/web-messenger-module.zip" class="ms-btn ms-blue ms-rounded">Download</a>
									</div>
								</div><!-- ms-card -->
							</div><!-- theme -->
						</li>
					</ul>
				</div><!-- list -->
			</div><!-- /Themes -->
		</div><!-- row -->
	</div><!-- container -->

	<div class="container">
		<%- include('elements/footer'); %>
	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script src="/js/menu.js"></script>
</body>
</html>
