<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Blockquotes Documentation | minstyle.io</title>
	<link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,800,900" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="http://localhost/minstyle.io/css/minstyle.io.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/css/doc.css">
	<link rel="stylesheet" type="text/css" href="/css/prism.css">
</head>
<body>

	<header class="header">
		<%- include('../elements/menu'); %>
	</header>
	
	<div class="box" style="max-width: 1400px;">
		<div class="col-s-3">
			<%- include('../elements/left-menu'); %>
		</div>

		<div class="col-s-9 content">
			<div class="row">
				<span class="ms-badge ms-white"><i class="fas fa-graduation-cap"></i> Doc</span>
				<span class="ms-badge ms-blue"><%=translation.BLOCKQUOTE%></span>
				<h1 class="ms-text-size-3"><%=translation.BLOCKQUOTE_TITLE%></h1>
			</div>

			<div class="row">
				<p>
					<%=translation.BLOCKQUOTE_DESC%>
				</p>
			</div>

			<div class="row">
				<div class="col-s-12">
					<blockquote class="ms-blockquote">
						<h5>"Lorem ipsum dolor sit amet"</h5>
					  	<em>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis vel nobis ex, ullam incidunt, id esse quo! <a href="">Odit nobis facilis animi</a>, quia laudantium consequatur sint quam excepturi distinctio consequuntur. Vero.</em>
					</blockquote>
				</div>

				<div class="col-s-12">
					<pre><code class="language-html"><blockquote class="ms-blockquote">
	<h5>"Lorem ipsum dolor sit amet"</h5>
	<em>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</em>
</blockquote></code></pre>
				</div>
			</div>

			<div class="row">
				<div class="col-s-12">
					<blockquote class="ms-blockquote ms-blue">
					  	<em><code>body{font-family: 'Nunito', sans-serif;}</code></em>
					</blockquote>
				</div>

				<div class="col-s-12">
					<pre><code class="language-html"><blockquote class="ms-blockquote ms-blue">
	<em><code>body{font-family: 'Nunito', sans-serif;}</code></em>
</blockquote></code></pre>
				</div>
			</div>

			<div class="row">
				<div class="col-s-12">
					<blockquote class="ms-blockquote ms-red">
					  	<em>Lorem ipsum dolor sit amet, <a href="">consectetur</a> adipisicing elit. Facilis vel nobis ex, ullam incidunt, id esse quo! Odit nobis facilis animi, quia laudantium consequatur sint quam excepturi distinctio consequuntur. Vero.</em>
					</blockquote>
				</div>

				<div class="col-s-12">
					<pre><code class="language-html"><blockquote class="ms-blockquote ms-red">
	<em>Lorem ipsum dolor sit amet, <a href="">consectetur</a> adipisicing elit. Facilis...</em>
</blockquote></code></pre>
				</div>
			</div>

			<div class="row">
				<div class="col-s-12">
					<blockquote class="ms-blockquote ms-yellow">
					  	<em>Lorem ipsum dolor sit amet, <a href="">consectetur</a> adipisicing elit. Facilis vel nobis ex, ullam incidunt, id esse quo! Odit nobis facilis animi, quia laudantium consequatur sint quam excepturi distinctio consequuntur. Vero.</em>
					</blockquote>
				</div>

				<div class="col-s-12">
					<pre><code class="language-html"><blockquote class="ms-blockquote ms-yellow">
	<em>Lorem ipsum dolor sit amet, <a href="">consectetur</a> adipisicing elit. Facilis...</em>
</blockquote></code></pre>
				</div>
			</div>

			<div class="row">
				<div class="col-s-12">
					<blockquote class="ms-blockquote ms-green">
					  	<em><code>
						var fruits = ['Apple', 'Banana'];
						</code></em>
					</blockquote>
				</div>

				<div class="col-s-12">
					<pre><code class="language-html"><blockquote class="ms-blockquote ms-green">
	<em><code><b>var</b> fruits = ['Apple', 'Banana'];</code></em>
</blockquote></code></pre>
				</div>
			</div>

			<div class="row">
				<div class="col-s-12">
					<blockquote class="ms-blockquote ms-white">
					  	<em>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis vel nobis ex, ullam incidunt, id esse quo! <a href="">Odit nobis facilis animi,</a> quia laudantium consequatur sint quam excepturi distinctio consequuntur. Vero.</em>
					</blockquote>
				</div>

				<div class="col-s-12">
					<pre><code class="language-html"><blockquote class="ms-blockquote ms-white">
	<em>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</em>
</blockquote></code></pre>
				</div>
			</div>
		</div>
	</div>	

	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="/js/prism.js"></script>
	<script type="text/javascript">
		$('code').each(function(){
			var el = $(this);
			el.text(el.html());
		});
	</script>

</body>
</html>
