<!DOCTYPE html>
<html lang="<%=translation.LANG%>">
<head>
	<meta charset="UTF-8">
	<title><%=translation.BUTTONS%> documentation | minstyle.io</title>
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,800,900" rel="stylesheet">
	<%- include('../elements/msLink'); %>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/css/doc.css">
	<link rel="stylesheet" type="text/css" href="/css/prism.css">

	<%- include('../elements/ga'); %>
</head>
<body>

	<header class="header">
		<%- include('../elements/menu'); %>
	</header>

	<div id="resp-menu">
		<%- include('../elements/left-menu'); %>
	</div>
	
	<div class="box" style="max-width: 1400px;">
		<div class="row">
			<div class="col-s-3 left-menu">
      			<%- include('../elements/left-menu'); %>
			</div>

			<a id="doc-menu">
				<i class="fas fa-bars"></i>
			</a>

			<div class="col-s-12 col-m-9 content">
				<div class="row">
					<span class="ms-badge ms-white"><i class="fas fa-graduation-cap"></i> Doc</span>
					<span class="ms-badge ms-yellow"><h1 class="ms-text-size-1"><%=translation.BUTTONS%></h1></span>
				</div>

				<div class="row">
					<p>
						<%=translation.BUTTONS_TYPE_CONTENT%>
					</p>
				</div>

				<div class="row">
						<h2>
							<%=translation.BUTTONS_TYPE_TITLE%>
						</h2>
						<div class="col-s-12">
							<button class="ms-btn ms-blue">ms-btn (default)</button>
							<button class="ms-btn ms-rounded ms-blue">ms-rounded</button>
							<button class="ms-btn ms-border ms-blue">ms-border</button>
							<button class="ms-btn ms-border-bottom ms-blue">ms-border-bottom</button>
							<button class="ms-btn ms-clear ms-blue">ms-clear</button>
						</div>

						<div class="col-s-12">
							<pre>
<code class="language-html"><button class="ms-btn ms-blue">Button</button>
<button class="ms-btn ms-rounded ms-blue">Rounded</button>
<button class="ms-btn ms-border ms-blue">Border</button>
<button class="ms-btn ms-border-bottom ms-blue">Border Bottom</button>
<button class="ms-btn ms-clear ms-blue">Clear</button></code></pre>
						</div>
				</div>

				<div class="row">
					<h2><%=translation.BUTTONS_COLOR_TITLE%></h2>
					
						<div class="col-s-12">
							<button class="ms-btn">Default</button>
							<button class="ms-btn ms-rounded ms-red">Red</button>
							<button class="ms-btn ms-rounded ms-yellow">Yellow</button>
							<button class="ms-btn ms-border ms-blue">Blue</button>
							<button class="ms-btn ms-border-bottom ms-green">Green</button>
							<button class="ms-btn ms-clear ms-gradient">Gradient</button>
						</div>

						<div class="col-s-12">
							<pre>
<code class="language-html"><button class="ms-btn">Default</button>
<button class="ms-btn ms-rounded ms-red">Red</button>
<button class="ms-btn ms-rounded ms-yellow">Yellow</button>
<button class="ms-btn ms-border ms-blue">Blue</button>
<button class="ms-btn ms-border-bottom ms-green">Green</button>
<button class="ms-btn ms-clear ms-gradient">Gradient</button></code></pre>
						</div>
				</div>

				<div class="row">
					<h2><%=translation.BUTTONS_SIZE_TITLE%></h2>
					
						<div class="col-s-12">
							<button class="ms-btn ms-rounded ms-green ms-small">Small</button>
							<button class="ms-btn ms-rounded ms-green">Normal</button>
							<button class="ms-btn ms-rounded ms-green ms-large ">Large</button>
						</div>

						<div class="col-s-12">
							<pre>
<code class="language-html"><button class="ms-btn ms-rounded ms-green ms-small">Small</button>
<button class="ms-btn ms-rounded ms-green">Normal</button>
<button class="ms-btn ms-rounded ms-green ms-large ">Large</button></code></pre>
						</div>
				</div>

				<div class="row">
					<h2><%=translation.BUTTONS_WIDTH_TITLE%></h2>
					
						<div class="col-s-12">
							<div class="col-s-5">
								<button class="ms-btn ms-yellow ms-block">Block Button</button>
							</div>
						</div>

						<div class="col-s-12">
							<pre>
<code class="language-html"><button class="ms-btn ms-yellow ms-block">Block Button</button></code></pre>
						</div>
				</div>

				<div class="row">
					<h2><%=translation.BUTTONS_ICON_TITLE%></h2>

					<p>
						<%=translation.BUTTONS_ICON_CONTENT%>
					</p>
					
						<div class="col-s-12">
							<div class="col-s-5">
								<button class="ms-btn ms-rounded ms-red"><i class="fas fa-laugh-wink"></i> Use icons</button>
								<button class="ms-btn ms-rounded ms-green"><i class="fas fa-laugh-squint"></i> Use icons</button>
							</div>
						</div>

						<div class="col-s-12">
							<pre>
<code class="language-html"><button class="ms-btn ms-rounded ms-red"><i class="fas fa-laugh-wink"></i> Use icons</button>
<button class="ms-btn ms-rounded ms-green"><i class="fas fa-laugh-squint"></i> Use icons</button></code></pre>
						</div>
				</div>

				<div class="row">
					<h2><%=translation.BUTTONS_MARGIN_TITLE%></h2>
					
						<div class="col-s-12">
							<div class="col-s-5">
								<button class="ms-btn ms-rounded ms-blue no-margin">No margin</button>
							</div>
						</div>

						<div class="col-s-12">
							<pre>
<code class="language-html"><button class="ms-btn ms-rounded ms-blue no-margin">No margin</button></code></pre>
						</div>
				</div>
			</div>
		</div>
	</div>	

	<div class="container">
		<%- include('../elements/footer'); %>
	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="/js/prism.js"></script>
	<script type="text/javascript">
		$('code').each(function(){
		var el = $(this);
		el.text(el.html());
		});
	</script>
	<script src="/js/menu.js"></script>

</body>
</html>
