<!DOCTYPE html>
<html lang="<%=translation.LANG%>">
<head>
	<meta charset="UTF-8">
	<title>Google Font documentation | minstyle.io</title>
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,800,900" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/Airmime/minstyle.io/d2280724/css/minstyle.io.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/css/doc.css">
	<link rel="stylesheet" type="text/css" href="/css/prism.css">

	<%- include('../elements/ga'); %>
</head>
<body>

	<header class="header">
		<%- include('../elements/menu'); %>
	</header>

	<div id="resp-menu">
		<%- include('../elements/left-menu'); %>
	</div>
	
	<div class="box" style="max-width: 1400px;">
		<div class="row">
			<div class="col-s-3 left-menu">
      			<%- include('../elements/left-menu'); %>
			</div>

			<a id="doc-menu">
				<i class="fas fa-bars"></i>
			</a>

			<div class="col-s-12 col-m-9 content">
				<div class="row">
					<span class="ms-badge ms-white"><i class="fas fa-graduation-cap"></i> Doc</span>
					<span class="ms-badge ms-yellow"><h1>Google Font</h1></span>
				</div>
				
				<div class="row">
					<p>
						<%=translation.FONT_DESC%>
					</p>
					<div class="col-s-12">
						<pre><code class="language-html"><link href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800" rel="stylesheet"></code></pre>
					</div>
				</div>
			</div>
		</div>
	</div>	

	<div class="container">
		<%- include('../elements/footer'); %>
	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="/js/prism.js"></script>
	<script type="text/javascript">
		$('code').each(function(){
		var el = $(this);
		el.text(el.html());
		});
	</script>
	<script src="/js/menu.js"></script>

</body>
</html>
