<!DOCTYPE html>
<html lang="<%=translation.LANG%>">
<head>
	<meta charset="UTF-8">
	<title><%=translation.RESPONSIVE%> documentation | minstyle.io</title>
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,800,900" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/Airmime/minstyle.io/d2280724/css/minstyle.io.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/css/doc.css">
	<link rel="stylesheet" type="text/css" href="/css/prism.css">

	<%- include('../elements/ga'); %>

	<style>
		.col-example{
			background-color: #f2f2f2;
			color: #434343;
			height: 40px;
			line-height: 40px;
			border: 3px solid #fff;
			border-radius: 4px;
			-moz-border-radius: 4px;
			-webkit-border-radius: 4px;
		}
	</style>
</head>
<body>

	<header class="header">
		<%- include('../elements/menu'); %>
	</header>

	<div id="resp-menu">
		<%- include('../elements/left-menu'); %>
	</div>
	
	<div class="box" style="max-width: 1400px;">
		<div class="row">
			<div class="col-s-3 left-menu">
      			<%- include('../elements/left-menu'); %>
			</div>

			<a id="doc-menu">
				<i class="fas fa-bars"></i>
			</a>

			<div class="col-s-12 col-m-9 content">
				<div class="row">
					<span class="ms-badge ms-white"><i class="fas fa-graduation-cap"></i> Doc</span>
					<span class="ms-badge ms-yellow"><h1><%=translation.RESPONSIVE%></h1></span>
				</div>

				<div class="row">
					<p>
						<%=translation.RESPONSIVE_DESC%>
					</p>

					<p>
						<b><%=translation.RESPONSIVE_DESC_B%></b>
					</p>
				</div>

				<div class="row">
					<table>
						<tbody><tr class="ms-title">
						  <th></th>
						  <th>Small <br/> < 640px</th>
						  <th>Medium <br/> > 1024px</th>
						  <th>Large <br/> > 1140px</th>
						</tr>
						<tr>
						  <td><b>Class</b></td>
						  <td>col-s-[0-12]</td>
						  <td>col-m-[0-12]</td>
						  <td>col-l-[0-12]</td>
						</tr>
						<tr>
						  <td><b>Number of columns</b></td>
						  <td colspan="3">12</td>
						</tr>
						<tr>
						  <td><b>Gutter width</b></td>
						  <td colspan="3">2%</td>
						</tr>
						</tbody>
					</table>
				</div>

				<div class="row">
					<p>
						<%=translation.RESPONSIVE_DESC_CONTAINER%>
					</p>

					<div class="col-s-12">
<pre><code class="language-html"><div class="container">...</div></code></pre>
					</div>
				</div>

				<div class="row">
					<p>
						<b>Example :</b>
					</p>

					<div class="col-s-12 exemple">
						<div class="col-s-2 col-m-4 col-l-6 col-example">.col-s-2 .col-m-4 .col-l-6</div>
						<div class="col-s-2 col-m-4 col-l-6 col-example">.col-s-2 .col-m-4 .col-l-6</div>
						<div class="col-s-2 col-m-4 col-l-6 col-example">.col-s-2 .col-m-4 .col-l-6</div>
						<div class="col-s-2 col-m-4 col-l-6 col-example">.col-s-2 .col-m-4 .col-l-6</div>
						<div class="col-s-2 col-m-4 col-l-6 col-example">.col-s-2 .col-m-4 .col-l-6</div>
						<div class="col-s-2 col-m-4 col-l-6 col-example">.col-s-2 .col-m-4 .col-l-6</div>
					</div>

					<div class="col-s-12">
					<pre>
<code class="language-html"><div class="container">
	<div class="col-s-2 col-m-4 col-l-6">...</div>
	<div class="col-s-2 col-m-4 col-l-6">...</div>
	<div class="col-s-2 col-m-4 col-l-6">...</div>
	<div class="col-s-2 col-m-4 col-l-6">...</div>
	<div class="col-s-2 col-m-4 col-l-6">...</div>
	<div class="col-s-2 col-m-4 col-l-6">...</div>
</div></code></pre>
					</div>
				</div>

				<div class="row">

					<div class="col-s-12">
						<div class="col-s-10 col-s-center col-m-4 col-m-center col-example">.col-s-10 .col-s-center .col-m-4 .col-m-center</div>
					</div>

					<div class="col-s-12">
						<pre>
<code class="language-html"><div class="col-s-10 col-s-center col-m-4 col-m-center">.col-s-10 .col-s-center .col-m-4 .col-m-center</div></code></pre>
					</div>
				</div>

			</div>
		</div>
	</div>	

	<div class="container">
		<%- include('../elements/footer'); %>
	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="/js/prism.js"></script>
	<script type="text/javascript">
		$('code').each(function(){
		var el = $(this);
		el.text(el.html());
		});
	</script>
	<script src="/js/menu.js"></script>

</body>
</html>
