<!DOCTYPE html>
<html lang="<%=translation.LANG%>">
<head>
	<meta charset="UTF-8">
	<title><%=translation.PROGRESS_BAR%> documentation | minstyle.io</title>
	<link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,800,900" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/Airmime/minstyle.io/d2280724/css/minstyle.io.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/css/doc.css">
	<link rel="stylesheet" type="text/css" href="/css/prism.css">
</head>
<body>

	<header class="header">
		<%- include('../elements/menu'); %>
	</header>
	
	<div class="box" style="max-width: 1400px;">
		<div class="row">
			<div class="col-s-3">
      			<%- include('../elements/left-menu'); %>
			</div>

			<div class="col-s-9 content">
				<div class="row">
					<span class="ms-badge ms-white"><i class="fas fa-graduation-cap"></i> Doc</span>
					<span class="ms-badge ms-blue"><h1><%=translation.PROGRESS_BAR%></h1></span>
				</div>

				<div class="row">
					<p>
						<%=translation.PROGRESS_BAR_DESC%>
					</p>
				</div>

				<div class="row">
					<h2>
						<%=translation.PROGRESS_TITLE_COLOR%>
					</h2>
					<div class="col-s-12">
						<div class="ms-progress">
							<div class="ms-progress-fill" style="width: 20%;">20%</div>
						</div>

						<div class="ms-progress">
							<div class="ms-progress-fill ms-blue" style="width: 30%;">30%</div>
						</div>

						<div class="ms-progress">
							<div class="ms-progress-fill ms-green" style="width: 40%;">40%</div>
						</div>

						<div class="ms-progress">
							<div class="ms-progress-fill ms-red" style="width: 50%;">50%</div>
						</div>

						<div class="ms-progress">
							<div class="ms-progress-fill ms-yellow" style="width: 60%;">60%</div>
						</div>

						<div class="ms-progress">
							<div class="ms-progress-fill ms-gradient" style="width: 70%;">70%</div>
						</div>
					</div>

					<div class="col-s-12">
						<pre><code class="language-html"><div class="ms-progress">
	<div class="ms-progress-fill" style="width: 20%;">20%</div>
</div>

<div class="ms-progress">
	<div class="ms-progress-fill ms-blue" style="width: 30%;">30%</div>
</div>

<div class="ms-progress">
	<div class="ms-progress-fill ms-green" style="width: 40%;">40%</div>
</div>

<div class="ms-progress">
	<div class="ms-progress-fill ms-red" style="width: 50%;">50%</div>
</div>

<div class="ms-progress">
	<div class="ms-progress-fill ms-yellow" style="width: 60%;">60%</div>
</div>

<div class="ms-progress">
	<div class="ms-progress-fill ms-gradient" style="width: 70%;">70%</div>
</div></code></pre>
					</div>
				</div>

				<div class="row">
					<h2><%=translation.PROGRESS_TITLE_BICOLOR%></h2>
					<div class="col-s-12">
						<div class="ms-progress">
							<div class="ms-progress-fill ms-blue" style="width: 65%;">65%</div>
							<div class="ms-progress-fill ms-green" style="width: 35%;">35%</div>
						</div>
					</div>

					<div class="col-s-12">
						<pre><code class="language-html"><div class="ms-progress">
	<div class="ms-progress-fill ms-blue" style="width: 65%;">65%</div>
	<div class="ms-progress-fill ms-green" style="width: 35%;">35%</div>
</div></code></pre>
					</div>
				</div>

				<div class="row">
					<h2>
						<%=translation.PROGRESS_TITLE_STRIPED%>
					</h2>
					<div class="col-s-12">
						<div class="ms-progress">
							<div class="ms-progress-fill ms-green ms-rounded ms-striped" style="width: 67%;">Loading...</div>
						</div>
					</div>

					<div class="col-s-12">
						<pre><code class="language-html"><div class="ms-progress">
	<div class="ms-progress-fill ms-green ms-rounded ms-striped" style="width: 67%;">Loading...</div>
</div></code></pre>
					</div>
				</div>

				<div class="row">
					<h2><%=translation.PROGRESS_TITLE_SIZE%></h2>
					<div class="col-s-12">
						<div class="ms-progress ms-small">
							<div class="ms-progress-fill ms-yellow" style="width: 23%;">Small</div>
						</div>

						<div class="ms-progress ms-large">
							<div class="ms-progress-fill ms-yellow" style="width: 23%;">Large</div>
						</div>
					</div>

					<div class="col-s-12">
						<pre><code class="language-html"><div class="ms-progress ms-small">
	<div class="ms-progress-fill ms-yellow" style="width: 23%;">Small</div>
</div>

<div class="ms-progress ms-large">
	<div class="ms-progress-fill ms-yellow" style="width: 23%;">Large</div>
</div></code></pre>
					</div>
				</div>

				<div class="row">
					<h2><h2><%=translation.PROGRESS_TITLE_ROUNDED%></h2></h2>
					<div class="col-s-12">
						<div class="ms-progress ms-rounded">
							<div class="ms-progress-fill ms-red ms-rounded" style="width: 50%;">Rounded</div>
						</div>
					</div>

					<div class="col-s-12">
						<pre><code class="language-html"><div class="ms-progress ms-rounded">
	<div class="ms-progress-fill ms-red ms-rounded" style="width: 50%;">Rounded</div>
</div></code></pre>
					</div>
				</div>
			</div>
		</div>
	</div>	

	<div class="container">
		<%- include('../elements/footer'); %>
	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="/js/prism.js"></script>
	<script type="text/javascript">
		$('code').each(function(){
		var el = $(this);
		el.text(el.html());
		});
	</script>

</body>
</html>
