<!DOCTYPE html>
<html lang="<%=translation.LANG%>">
<head>
	<meta charset="UTF-8">
	<title>Typographie documentation | minstyle.io</title>
	<link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,800,900" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/Airmime/minstyle.io/d2280724/css/minstyle.io.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/css/doc.css">
	<link rel="stylesheet" type="text/css" href="/css/prism.css">
</head>
<body>

	<header class="header">
		<%- include('../elements/menu'); %>
	</header>
	
	<div class="box" style="max-width: 1400px;">
		<div class="row">
			<div class="col-s-3">
      			<%- include('../elements/left-menu'); %>
			</div>

			<div class="col-s-9 content">
				<div class="row">
					<span class="ms-badge ms-white"><i class="fas fa-graduation-cap"></i> Doc</span>
					<span class="ms-badge ms-blue"><h1><%=translation.TYPOGRAPHY%></h1></span>
				</div>

				<div class="row">
					<p>
						<%=translation.TYPOGRAPHY_DESC%>
					</p>
				</div>

				<div class="row">
					<h2><%=translation.TYPOGRAPHY_TITLE_COLOR%></h2>
					<div class="col-s-12">
						<ul class="ms-list ms-list-none">
							<li>
								<p><span class="ms-text-red">Red : .ms-text-red</span></p>
							</li>
							<li>
								<p>
									<span class="ms-text-green">Green : .ms-text-green</span>
								</p>
							</li>
							<li>
								<p>
									<span class="ms-text-blue">Blue : .ms-text-blue</span>
								</p>
							</li>
							<li>
								<p>
									<span class="ms-text-yellow">Yellow : .ms-text-yellow</span>
								</p>
							</li>
							<li>
								<p>
									<span class="ms-text-gray-font">Gray : .ms-text-gray-font</span>
								</p>
							</li>
							<li>
								<p>
									<span class="ms-text-white" style="background-color: black;">White : .ms-text-white</span>
								</p>
							</li>
						</ul>
					</div>

					<div class="col-s-12">
						<pre><code class="language-html"><p class="ms-text-red">Red</p>
<p class="ms-text-green">Green</p>
<p class="ms-text-blue">Blue</p>
<p class="ms-text-yellow">Yellow</p>
<p class="ms-text-gray-font">Yellow</p>
<p class="ms-text-white">Yellow</p></code></pre>
					</div>
				</div>

				<div class="row">
					<h2><%=translation.TYPOGRAPHY_TITLE_WEIGHT%></h2>
					<div class="col-s-12">
						<h1 class="ms-fw-200">Heading</h1>
						<h2 class="ms-fw-300">Heading</h2>
						<h3 class="ms-fw-400">Heading</h3>
						<h4 class="ms-fw-600">Heading</h4>
						<h5 class="ms-fw-900">Heading</h5>
					</div>

					<div class="col-s-12">
							<pre><code class="language-html"><h1 class="ms-fw-200">Heading</h1>
<h2 class="ms-fw-300">Heading</h2>
<h3 class="ms-fw-400">Heading</h3>
<h4 class="ms-fw-600">Heading</h4>
<h5 class="ms-fw-900">Heading</h5></code></pre>
					</div>
				</div>

				<div class="row">
					<h2><%=translation.TYPOGRAPHY_TITLE_ALIGN%></h2>
					<div class="col-s-12">
						<p class="ms-text-left">Text left</p>
						<p class="ms-text-center">Text center</p>
						<p class="ms-text-right">Text right</p>
					</div>

					<div class="col-s-12">
								<pre><code class="language-html"><p class="ms-text-left">Text left</p>
<p class="ms-text-center">Text center</p>
<p class="ms-text-right">Text right</p></code></pre>
					</div>
				</div>

				<div class="row">
					<h2><%=translation.TYPOGRAPHY_TITLE_SIZE%></h2>
					<div class="col-s-12">
						<span class="ms-text-size-1">Text</span><br/>
						<span class="ms-text-size-2">Text</span><br/>
						<span class="ms-text-size-3">Text</span><br/>
						<span class="ms-text-size-4">Text</span><br/>
						<span class="ms-text-size-5">Text</span><br/>
						<span class="ms-text-size-6">Text</span><br/>
						<span class="ms-text-size-7">Text</span><br/>
						<span class="ms-text-size-8">Text</span><br/>
						<span class="ms-text-size-9">Text</span>
					</div>

					<div class="col-s-12">
								<pre><code class="language-html"><span class="ms-text-size-1">Text</span>
<span class="ms-text-size-2">Text</span>
<span class="ms-text-size-3">Text</span>
<span class="ms-text-size-4">Text</span>
<span class="ms-text-size-5">Text</span>
<span class="ms-text-size-6">Text</span>
<span class="ms-text-size-7">Text</span>
<span class="ms-text-size-8">Text</span>
<span class="ms-text-size-9">Text</span></code></pre>
					</div>
				</div>

			</div>
		</div>
	</div>	

	<div class="container">
		<%- include('../elements/footer'); %>
	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="/js/prism.js"></script>
	<script type="text/javascript">
		$('code').each(function(){
		var el = $(this);
		el.text(el.html());
		});
	</script>

</body>
</html>
